{% extends "base.html" %}
{% load i18n %}
{% block title %} {{ title }} {% endblock title %}
{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}
{% block content %}
<p>delete the product </p>

<form method="post" action="">
    {% csrf_token %}
    {% for item in product %}
    {{ item.name }}<br>
    {{ item.price }}<br>
    {{ item.category}}<br>
    {% endfor %}
    <button type="submit" value="Delete"> delete</button>

</form>
{%endblock content%}
{% block javascript %}
<script>
</script>
{% endblock javascript %}