{% extends "base.html" %}
{% load i18n %}
{% block title %} {{ title }} {% endblock title %}
{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}
{% block content %}
<p>product Details</p>
{% for item in product %}
{{ item.name }}<br>
{{ item.price }}<br>
{{ item.category}}<br>
<a href="{% url 'home:delete-product' item.id %} ">delete the product</a><br>
<a href="{% url 'home:update-product' item.id%} ">update product</a>
{% endfor %}
{%endblock content%}
{% block javascript %}
<script>
</script>
{% endblock javascript %}